{% extends "HomeScreen/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'HomeScreen/style.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card-grid">
            {% for item in reminders %}
                <div class="card">
                    <p class="card-title">{{ item.chore }}</p>
                    <p>{{ item.date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}